.conteiner {
    position: relative;
    min-height: 600px;
    width: 88%;
    max-width: 430px;
    margin: 0 auto;
    padding: 60px 36px;
    box-sizing: border-box;
    display: flex;
    cursor: default;
    /* flex-grow: 1; */
    text-align: center;
}

/* @media (max-width: 500px) {
    .conteiner {
        padding: 25px 22px;
        min-height: 322px;
    }
} */